alembic==1.6.5
aniso8601==9.0.1
apispec==4.6.0
attrs==21.2.0
autopep8==1.5.7
click==8.0.1
Flask==2.0.1
flask-apispec==0.11.0
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-Migrate==3.0.1
Flask-RESTful==0.3.9
flask-restplus==0.13.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.1
mysqlclient==2.0.3
pycodestyle==2.7.0
pyrsistent==0.18.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.19
toml==0.10.2
webargs==8.0.0
Werkzeug==2.0.1
