.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#settings {
  margin: 0;
  height: 6vh;
  overflow: hidden;
  background-color: #333;
}

#settings span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#settings span:hover {
  background-color: #ddd;
  color: black;
}

#settings span.active {
  background-color: #04aa6d;
  color: white;
}

#modeler .button {
  background-color: #4caf50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  cursor: pointer;
  position: relative;
  left: 20px;
}

#modeler .button:hover {
  background-color: #3e8e41;
}
